.button {
  position: relative;
  font-family: var(--font-mono);
  font-size: 1.4rem;
  background-color: inherit;
  color: inherit;
  padding: 1rem 2rem;
  border-radius: inherit;
  width: 100%;
  transform-origin: center center;
}

@media screen and (min-width: 767.98px) {
  .button {
    font-size: 1.6rem;
    padding: 1rem 4rem;
  }
}
