.button {
  display: inline-block;
  position: relative;
  padding: 18px 50px;
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  border-radius: 4px;
  overflow: hidden;
  font-family: var(--font-mono);
  font-size:  var(--fs-lg);
}

.button::after {
  display: inline;
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background-color: var(--color-secondary);
  mix-blend-mode: difference;
  transition: var(--transition-button);
  transform-origin: 50% 50%;
  transform: rotate(30deg) translateY(-100%);
}

@media (hover: hover) {
  .button:hover::after {
    transform: rotate(0deg) translateY(0);
  }
}

.button:active::after {
  transform: rotate(0deg) translateY(0);
}

@media screen and (min-width: 768.98px) {
  .button {
    font-size: var(--fs-md);
    padding: 0.6rem 1.2rem;
  }
}
