.social {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: var(--transition-label);
}

.social i {
  font-size: 1.4rem;
  transition: inherit;
}

.social span {
  position: absolute;
  transform: translateY(0.8rem);
  opacity: 0;
  font-size: 0.8rem;
  white-space: nowrap;
  transition: inherit;
}

.social:hover span,
.social:hover i {
  color: var(--color-secondary);
}

.social:hover i {
  transform: translateY(-0.5rem);
}

.social:hover span {
  opacity: 1;
  transform: translateY(1.8rem);
}

@media (hover: hover) {
  .social:hover span,
  .social:hover i {
    color: var(--color-secondary);
  }

  .social:hover span {
    opacity: 1;
    transform: translateY(1.8rem);
  }

  .social:hover i {
    transform: translateY(-0.5rem);
  }
}

@media screen and (min-width: 767.98px) {
  .social span {
    display: none;
  }
}
