.main {
  margin: 0 auto;
  padding: 0 25px;
  min-height: 100vh;
  counter-reset: section 0;
}

@media screen and (min-width: 479.98px) {
  .main {
    padding: 0px 50px;
  }
}

@media screen and (min-width: 767.98px) {
  .main {
    padding: 0px 100px;
  }
}

@media screen and (min-width: 1023.98px) {
  .main {
    padding: 0px 100px;
  }
}
